<div class="main-index">
  <h2>Welcome to the shop!</h2>
</div>

{% schema %}
{
  "name": "Main Index",
  "settings": [],
  "presets": [
    {
      "name": "Default Main Index"
    }
  ]
}
{% endschema %}
